.header {
  font-size: 2rem;
}

.hero {
  background-color: #000080;
  height: 61px;
}

.card-add-appt {
  background-color: #0808a3;
}

.card-appt {
  background-color: #08679e;
}

.hero, .card-add-appt, .card-appt {
  color: #fff;
  border-radius: 5px;
  width: 80%;
  margin: 20px 20px;
  border: 1px solid rgb(223, 217, 217);
}

.card-pet-appts {
  width: 80%;
  border: 1px solid #0c3574;
}

.card-pet-appt {
  background-color: #0c3574;
  color: white;
  border: none;
}

.icons {
  margin-top: 10px;
  margin-right: 15px;
}

.icon-trash, .icon-edit {
  color: #0c3574;
  font-size: 20px;
  float: right;
}

.appts-list {
  border: transparent;
}

.card-title-add-appt {
  font-size: 1.2rem;
  margin: 15px 0px 10px 20px;
  height: 32px;
}

.icon-add-appt {
  font-size: 30px;
  color: #f8f2f2;
  margin-left: 10px;
  margin-top: -2.5px;
}

.icon-close-appt {
  color: #000080;
  font-size: 30px;
  float: right;
  margin-bottom: 20px;
}

.btn-appt {
  background-color: #000080;
  font-size: 1rem;
  color: #f8f2f2
}

.card-title-appt {
  text-align: center;
  font-size: 1.2rem;
  height: 22px;
  color: #f8f2f2;
  font-weight: bold;
}



